* {
  margin: 0;
  background: #ccf7f3;
}
.App {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.App .row {
  margin-right: -15px;
  margin-left: -15px;
}
.App .full {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}
.search {
  margin: 20px;
  padding: 10px;
  width: 300px;
  background: white;
  padding: 14px 22px;
  border-radius: 5px;
  box-shadow: -5px -5px 15px #ffffff99, 5px 5px 15px #152b4711;
  border: none;
  transition: box-shadow 0.3s, border-color 0.3s, background 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}
.App .con {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.App .tex {
  width: 150px;
  height: 150px;
  background: #ffffff;
  margin: 5px;
  border-radius: 5px;
  text-align: center;
}
.App p {
  margin-top: 45%;
  background: #ffffff;
}
.App img {
  width: 140px;
  height: 100px;
  margin-top: 25px;
  border-radius: 5px;
}
